<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>EZC-API INTERFACE CONFIGURATOR</title>
	<meta name="author" content="ksw">
	<!-- stylesheet -->
	<link rel="stylesheet" href="../../common/css/jquery.modal-0.9.1.css" type="text/css" media="all" />	
	<link rel="stylesheet" href="../../common/css/ezcApiConfig.css" type="text/css" media="all" />
	<!-- javascript -->
	<script type="text/javascript" src="../../common/jquery/jquery-1.11.1.js" charset="UTF-8"></script>
	<script type="text/javascript" src="../../common/jquery/jquery.modal-0.9.1.js" charset="UTF-8"></script>
	<!-- <script type="text/javascript" src="../../common/comp/ace-build/source-code-pro.js" charset="UTF-8" async="true" ></script> -->
	<script type="text/javascript" src="../../common/comp/ace-builds/src/ace.js" charset="UTF-8"></script>
	<script type="text/javascript" src="../../common/comp/ace-builds/src/keybinding-vim.js" charset="UTF-8"></script>
	<script type="text/javascript" src="../../common/comp/ace-builds/src/keybinding-emacs.js" charset="UTF-8"></script>
	<script type="text/javascript" src="../../common/lib/commons-api.js" charset="UTF-8"></script>
	<script type="text/javascript" src="../../common/js/ezcApiConfig.js" charset="UTF-8"></script>
</head>
<body>
	<div class="leftside-container">
		<div class="lefts-top">EZC-API 인터페이스 환경관리</div>
		<div class="lefts-mid">
			<div class="button-container">
				<button>임시저장</button> <button>환경반영</button> <button>반영로그</button>
			</div>
			<div id="optionsPanel"></div>
		</div>
		<div class="leftside-fixed-bottom">처리 메시지</div>
	</div>
	<div id="editor-container"></div>
</body>
</html>